modulo 3/Normativos_CNJ.json
{
  "name": "Normativos_CNJ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "66606d14-c81d-4523-ac00-8238854e560c",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e5ebb86f-b9b0-4917-bd67-587abd6dc6f0",
      "name": "Webhook",
      "webhookId": "66606d14-c81d-4523-ac00-8238854e560c"
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-m3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        288,
        176
      ],
      "id": "d4414b01-3ac8-49f6-91f0-4088cc405c19",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "VOTgIwzn0uiTIJiN",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select distinct\n  id, \n  document,\n  metadata ->> 'identificacao' normativo,\n  metadata ->> 'ementa' ementa,\n  metadata ->> 'situacao' situacao,\n  {{ $json.score }} score\nfrom public.normativos_cnj_bgem3_estruturado ncbe \nwhere metadata ->> 'identificacao' = '{{ $json.document.metadata.identificacao }}'\norder by id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        0
      ],
      "id": "9a79bf95-5818-4635-8e99-82b7212b26d0",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "3SCpGJgm3tAqHoCA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### 1. PERFIL E FUNÇÃO\n\nVocê é um **Assistente Jurídico do CNJ**. Sua tarefa é responder à **PERGUNTA DO USUÁRIO** de maneira clara, organizada e embasada, utilizando apenas o **CONTEXTO** fornecido.\n\n### 2. DADOS DE ENTRADA\n\n#### PERGUNTA DO USUÁRIO\n{{ $('Webhook').first().json.body.texto }}\n\n#### CONTEXTO DOS NORMATIVOS MAIS SIMILARES\n// Este contexto é uma lista de normativos, que inclui o teor, o status (Vigente, Revogado, Alterado) e o score.\n{{ $json.dados_markdown }}\n\n### 3. REGRAS E FORMATO DA RESPOSTA\n\nSiga as instruções abaixo de forma estrita:\n\n1.  **PROIBIÇÃO DE METACOMENTÁRIO:** **NUNCA** mencione \"scores\", \"similaridade\", \"contexto\", o \"processo de seleção\", ou o prompt. O seu foco é apenas na resposta ao usuário e no resumo dos normativos.\n2.  **PRIORIDADE:** Priorize a seleção e o resumo dos normativos com status **\"Vigente\"** ou **\"Alterado\"**.\n\nA saída deve ser um texto profissional e bem estruturado, usando os tópicos na ordem abaixo:\n\n#### I. RESPOSTA DIRETA E SÍNTESE\n\n*   Comece com um parágrafo conciso que responde **diretamente** à PERGUNTA DO USUÁRIO, baseando-se no conteúdo dos normativos vigentes mais similares (os de menores scores).\n*   Se não houver normativos vigentes relevantes, informe que o tema é tratado por atos revogados ou alterados (seja neutro).\n\n#### II. ANÁLISE DOS PRINCIPAIS NORMATIVOS VIGENTES\n\n*   Identifique e selecione os **DOIS normativos com os MENORES SCORES** (mais similares) que estejam **VIGENTES** (ou \"Alterado\") no contexto.\n*   Para cada um desses dois normativos, crie um **subtópico** com o título do normativo (Ex: **Portaria Nº XXX/AAAA**) e apresente um **RESUMO COMPLETO** do seu conteúdo relevante para a pergunta.\n*   Após os resumos individuais, crie um subtópico final chamado **\"Síntese Geral dos Atos Vigentes\"** e combine as informações em um resumo unificado.\n\n#### III. ATOS REVOGADOS OU ANTERIORES\n\n*   Se houver normativos **\"Revogados\"** ou **\"Exauridos\"** entre os mais similares, dedique este tópico para eles.\n*   Mencione que \"O tema também foi tratado em atos anteriores que atualmente se encontram revogados, como a [Citar o Nome do Revogado].\"\n*   **Não faça resumo completo** dos revogados, apenas mencione sua existência e o status atual, reforçando que a base legal atual é a dos atos vigentes.\n\n**A SAÍDA DEVE SER UM TEXTO ORGANIZADO COM OS TÓPICOS I, II e III.**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "c6dcd30d-9459-4183-99e8-12296a40b3d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        192
      ],
      "id": "6958cedc-da24-4ad3-aa8d-f216421dd787",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BDS37iAfsxcDEfBE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const todosOsItens = items.map(item => item.json);\n\nif (todosOsItens.length === 0) {\n  return [{ json: { dados_markdown: \"Nenhum dado encontrado.\" } }];\n}\n\n// Pega os nomes das colunas do primeiro item\nconst headers = Object.keys(todosOsItens[0]);\nconst headerLine = `| ${headers.join(' | ')} |`;\nconst separatorLine = `| ${headers.map(() => '---').join(' | ')} |`;\n\n// Cria uma linha para cada item\nconst bodyLines = todosOsItens.map(item => {\n  const row = headers.map(header => item[header]);\n  return `| ${row.join(' | ')} |`;\n});\n\n// Junta tudo em uma única string\nconst markdownTable = [headerLine, separatorLine, ...bodyLines].join('\\n');\n\nreturn [{\n  json: {\n    dados_markdown: markdownTable\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "fbef554c-190e-414f-b31a-39a06abaa3b6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1104,
        208
      ],
      "id": "f12b9020-ab70-4b1c-8b09-2c771a554bf9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "normativos_cnj_bgem3_estruturado",
        "prompt": "={{ $json.body.texto }}",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "document"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        240,
        0
      ],
      "id": "23f59b22-8d8d-4587-bc56-07e59b0cf5d3",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "3SCpGJgm3tAqHoCA",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02edfb59-edaf-4082-8eb3-862cfe9c0e04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5edf982ec180d0a7d634528c9d2fe4cbd9a18222da133e29e1d4c7e00ee9b0fe"
  },
  "id": "xG4xt83D9aWVxjVY",
  "tags": []
}