modulo 3/Normativos_CNJ.json
{
  "name": "Normativos_CNJ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "66606d14-c81d-4523-ac00-8238854e560c",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        -288
      ],
      "id": "02d18248-d3e1-48c2-85a0-a60c87bb553e",
      "name": "Webhook",
      "webhookId": "66606d14-c81d-4523-ac00-8238854e560c"
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-m3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        192,
        208
      ],
      "id": "9dd6bb8e-9152-457c-9d65-71ed85ab4e63",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "pvJaYyGiQQ90UMkz",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select distinct\n  id, \n  document,\n  metadata ->> 'identificacao' normativo,\n  metadata ->> 'ementa' ementa,\n  metadata ->> 'situacao' situacao,\n  {{ $json.score }} score\nfrom public.normativos_cnj_bgem3 ncbe \nwhere metadata ->> 'identificacao' = '{{ $json.document.metadata.identificacao }}'\norder by id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        32
      ],
      "id": "ae67294e-e2b9-4f34-93e7-0b78bac26bba",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "XymUFWpus5ClUrjW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### 1. PERFIL E FUNÇÃO\n\nVocê é um **Assistente Jurídico do CNJ**. Sua tarefa é responder à **PERGUNTA DO USUÁRIO** de maneira clara, organizada e embasada, utilizando apenas o **CONTEXTO** fornecido.\n\n### 2. DADOS DE ENTRADA\n\n#### PERGUNTA DO USUÁRIO\n{{ $('Webhook').first().json.body.texto }}\n\n#### CONTEXTO DOS NORMATIVOS MAIS SIMILARES\n// Este contexto é uma lista de normativos, que inclui o teor, o status (Vigente, Revogado, Alterado) e o score.\n{{ $json.dados_markdown }}\n\n### 3. REGRAS E FORMATO DA RESPOSTA\n\nSiga as instruções abaixo de forma estrita:\n\n1.  **PROIBIÇÃO DE METACOMENTÁRIO:** **NUNCA** mencione \"scores\", \"similaridade\", \"contexto\", o \"processo de seleção\", ou o prompt. O seu foco é apenas na resposta ao usuário e no resumo dos normativos.\n2.  **PRIORIDADE:** Priorize a seleção e o resumo dos normativos com status **\"Vigente\"** ou **\"Alterado\"**.\n\nA saída deve ser um texto profissional e bem estruturado, usando os tópicos na ordem abaixo:\n\n#### I. RESPOSTA DIRETA E SÍNTESE\n\n*   Comece com um parágrafo conciso que responde **diretamente** à PERGUNTA DO USUÁRIO, baseando-se no conteúdo dos normativos vigentes mais similares (os de menores scores).\n*   Se não houver normativos vigentes relevantes, informe que o tema é tratado por atos revogados ou alterados (seja neutro).\n\n#### II. ANÁLISE DOS PRINCIPAIS NORMATIVOS VIGENTES\n\n*   Identifique e selecione os **DOIS normativos com os MENORES SCORES** (mais similares) que estejam **VIGENTES** (ou \"Alterado\") no contexto.\n*   Para cada um desses dois normativos, crie um **subtópico** com o título do normativo (Ex: **Portaria Nº XXX/AAAA**) e apresente um **RESUMO COMPLETO** do seu conteúdo relevante para a pergunta.\n*   Após os resumos individuais, crie um subtópico final chamado **\"Síntese Geral dos Atos Vigentes\"** e combine as informações em um resumo unificado.\n\n#### III. ATOS REVOGADOS OU ANTERIORES\n\n*   Se houver normativos **\"Revogados\"** ou **\"Exauridos\"** entre os mais similares, dedique este tópico para eles.\n*   Mencione que \"O tema também foi tratado em atos anteriores que atualmente se encontram revogados, como a [Citar o Nome do Revogado].\"\n*   **Não faça resumo completo** dos revogados, apenas mencione sua existência e o status atual, reforçando que a base legal atual é a dos atos vigentes.\n\n**A SAÍDA DEVE SER UM TEXTO ORGANIZADO COM OS TÓPICOS I, II e III.**",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1040,
        32
      ],
      "id": "f077b55c-0357-4756-bdb8-81511857af25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        256
      ],
      "id": "307a46b2-309c-4050-8f8b-e51cdf9da1f1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uJ474EuQqajf4obT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const todosOsItens = items.map(item => item.json);\n\nif (todosOsItens.length === 0) {\n  return [{ json: { dados_markdown: \"Nenhum dado encontrado.\" } }];\n}\n\n// Pega os nomes das colunas do primeiro item\nconst headers = Object.keys(todosOsItens[0]);\nconst headerLine = `| ${headers.join(' | ')} |`;\nconst separatorLine = `| ${headers.map(() => '---').join(' | ')} |`;\n\n// Cria uma linha para cada item\nconst bodyLines = todosOsItens.map(item => {\n  const row = headers.map(header => item[header]);\n  return `| ${row.join(' | ')} |`;\n});\n\n// Junta tudo em uma única string\nconst markdownTable = [headerLine, separatorLine, ...bodyLines].join('\\n');\n\nreturn [{\n  json: {\n    dados_markdown: markdownTable\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        32
      ],
      "id": "36cb3881-12dd-4efd-857f-567f74b493a4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1216,
        288
      ],
      "id": "e405dfab-7a81-498c-aa50-3fc679cd3a01",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "normativos_cnj_bgem3",
        "prompt": "={{ $('AI Agent2').item.json.output }}",
        "topK": 3,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "document"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        224,
        32
      ],
      "id": "1ff3ae28-d7a9-42a2-87bd-21875b01ef0b",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "XymUFWpus5ClUrjW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1024,
        368
      ],
      "id": "445ab35b-b5de-4085-8c6f-1a238b64e7b9",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "9yliOM6IYGJykDk9",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-m3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        176,
        -336
      ],
      "id": "26c9e983-84aa-4d4e-892f-b309b27bb6ec",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "pvJaYyGiQQ90UMkz",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "normativos_tjap_bgem3",
        "prompt": "={{ $('AI Agent2').item.json.output }}",
        "topK": 3,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "document"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        208,
        -528
      ],
      "id": "04635c99-eded-4ac5-88c2-9905a4fe4716",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "XymUFWpus5ClUrjW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select distinct\n  id, \n  document,\n  metadata ->> 'fonte' normativo,\n  metadata ->> 'ementa' ementa,\n  metadata ->> 'situacao' situacao,\n  {{ $json.score }} score\nfrom public.normativos_tjap_bgem3 ncbe \nwhere metadata ->> 'fonte' = '{{ $json.document.metadata.fonte }}'\norder by id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        -528
      ],
      "id": "9455f53a-ae85-47a0-97f3-9207c7004fc0",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "XymUFWpus5ClUrjW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### 1. PERFIL E FUNÇÃO\n\nVocê é um **Assistente Jurídico do TJAP**. Sua tarefa é responder à **PERGUNTA DO USUÁRIO** de maneira clara, organizada e embasada, utilizando apenas o **CONTEXTO** fornecido.\n\n### 2. DADOS DE ENTRADA\n\n#### PERGUNTA DO USUÁRIO\n{{ $('Webhook').first().json.body.texto }}\n\n#### CONTEXTO DOS NORMATIVOS MAIS SIMILARES\n// Este contexto é uma lista de normativos, que inclui o teor, o status (Vigente, Revogado, Alterado) e o score.\n{{ $json.dados_markdown }}\n\n### 3. REGRAS E FORMATO DA RESPOSTA\n\nSiga as instruções abaixo de forma estrita:\n\n1.  **PROIBIÇÃO DE METACOMENTÁRIO:** **NUNCA** mencione \"scores\", \"similaridade\", \"contexto\", o \"processo de seleção\", ou o prompt. O seu foco é apenas na resposta ao usuário e no resumo dos normativos.\n2.  **PRIORIDADE:** Priorize a seleção e o resumo dos normativos com status **\"Vigente\"** ou **\"Alterado\"**.\n\nA saída deve ser um texto profissional e bem estruturado, usando os tópicos na ordem abaixo:\n\n#### I. RESPOSTA DIRETA E SÍNTESE\n\n*   Comece com um parágrafo conciso que responde **diretamente** à PERGUNTA DO USUÁRIO, baseando-se no conteúdo dos normativos vigentes mais similares (os de menores scores).\n*   Se não houver normativos vigentes relevantes, informe que o tema é tratado por atos revogados ou alterados (seja neutro).\n\n#### II. ANÁLISE DOS PRINCIPAIS NORMATIVOS VIGENTES\n\n*   Identifique e selecione os **DOIS normativos com os MENORES SCORES** (mais similares) que estejam **VIGENTES** (ou \"Alterado\") no contexto.\n*   Para cada um desses dois normativos, crie um **subtópico** com o título do normativo (Ex: **Portaria Nº XXX/AAAA**) e apresente um **RESUMO COMPLETO** do seu conteúdo relevante para a pergunta.\n*   Após os resumos individuais, crie um subtópico final chamado **\"Síntese Geral dos Atos Vigentes\"** e combine as informações em um resumo unificado.\n\n#### III. ATOS REVOGADOS OU ANTERIORES\n\n*   Se houver normativos **\"Revogados\"** ou **\"Exauridos\"** entre os mais similares, dedique este tópico para eles.\n*   Mencione que \"O tema também foi tratado em atos anteriores que atualmente se encontram revogados, como a [Citar o Nome do Revogado].\"\n*   **Não faça resumo completo** dos revogados, apenas mencione sua existência e o status atual, reforçando que a base legal atual é a dos atos vigentes.\n\n**A SAÍDA DEVE SER UM TEXTO ORGANIZADO COM OS TÓPICOS I, II e III.**",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        -528
      ],
      "id": "1491363a-06f9-4378-af8a-b02605d5f429",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        -304
      ],
      "id": "1c82cbb8-1dc7-475b-855a-7b3348324679",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "uJ474EuQqajf4obT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const todosOsItens = items.map(item => item.json);\n\nif (todosOsItens.length === 0) {\n  return [{ json: { dados_markdown: \"Nenhum dado encontrado.\" } }];\n}\n\n// Pega os nomes das colunas do primeiro item\nconst headers = Object.keys(todosOsItens[0]);\nconst headerLine = `| ${headers.join(' | ')} |`;\nconst separatorLine = `| ${headers.map(() => '---').join(' | ')} |`;\n\n// Cria uma linha para cada item\nconst bodyLines = todosOsItens.map(item => {\n  const row = headers.map(header => item[header]);\n  return `| ${row.join(' | ')} |`;\n});\n\n// Junta tudo em uma única string\nconst markdownTable = [headerLine, separatorLine, ...bodyLines].join('\\n');\n\nreturn [{\n  json: {\n    dados_markdown: markdownTable\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -528
      ],
      "id": "d15cce42-b070-41a1-8ced-91f9e14d24b5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').first().json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1248,
        -224
      ],
      "id": "129d33ba-4e10-4f40-8d5f-7da006a4c331",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1024,
        -240
      ],
      "id": "bdd0178d-e603-4f1c-942d-8ef4e0b6e345",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "9yliOM6IYGJykDk9",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5f3d2c24-3a4f-4768-82a6-58332ad6d1c0",
              "leftValue": "={{ $('Webhook').item.json.body.db }}",
              "rightValue": "tjap",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        -288
      ],
      "id": "6ccde04d-90a2-4452-b781-aa1ee5c410c3",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Função: Você recebe um texto de entrada feito por um usuário em um chatbot RAG.\nSeu objetivo é decidir se deve manter o texto exatamente como está ou reescrevê-lo como uma query otimizada para busca por similaridade.\n\nInstruções:\n\nSe o input for uma afirmação, frase isolada ou conteúdo descritivo (não é uma pergunta),\n→ não altere nada.\n→ Retorne exatamente o mesmo texto, sem mudanças.\n\nSe o input for uma pergunta, você deve transformá-la em uma query otimizada para recuperação semântica.\nGere um único output, usando as estratégias abaixo:\n\nRewrite: reescreva a pergunta tornando-a mais clara, completa e menos ambígua.\n\nExtend: adicione termos contextuais relevantes que ampliem o recall sem alterar o significado da pergunta.\n\nNão responda à pergunta.\nNão crie conteúdo que não seja otimização para busca.\nO output final deve ser apenas a query otimizada.\n\nExemplos:\n\nInput:\n\"Relatório de vendas 2023\"\nOutput:\n\"Relatório de vendas 2023\" (igual, porque não é pergunta)\n\nInput:\n\"onde encontro o relatório de vendas de 2023?\"\nOutput:\n\"relatório de vendas 2023 localização arquivos documentos resultados ano 2023\"\n(rewritten + extend)\n\nInput:\n\"como emitir uma nota fiscal no sistema?\"\nOutput:\n\"procedimento emissão nota fiscal sistema passos configuração emitir nf\"\n\nFinal:\n\nSempre retorne somente o texto final (igual ao input ou otimizado).\n\nPROMPT DO USUARIO:\n{{ $json.body.texto }}",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -448,
        -288
      ],
      "id": "47c11a8a-3cb0-4cf0-b0a7-ab3f20549a21",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        -96
      ],
      "id": "c84f7cc2-f3a0-4ac7-9c97-cb8ab72c7bd5",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "88DsISaAvM24c1N0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -416,
        16
      ],
      "id": "0e50276c-2c62-4138-9754-d1723ad53ec1",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "9yliOM6IYGJykDk9",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "407a4fda-3529-428a-9597-221fd4e10f7c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6bc188627aa1688e3c1feadf4e32cfe1269193c04826adcfa72e624d5c45bd0"
  },
  "id": "QFrMtCu7RGUIWflb",
  "tags": []
}